
{% block body %}
<h3>{{ titulo }}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Asistencia</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Id Turno</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>
{% for p in lista %}
    <tr>
        
        <td>{{ p.asistencia }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.id }}</td>
        <td>{{ p.fecha }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}