{% extends "layout.html" %}
{% block titulo %}Listado de Productos{% endblock titulo %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'alta_producto' %}" class="btn btn-success">Agregar producto</a>
            <a href="{% url 'listado_turnos' %}" class="btn btn-info">Regresar a turnos</a>
            <h1>Listado Productos</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Clasificación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>        
                        {% for p in object_list %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.codigo }}</td>
                                <td>{{ p.descripcion }}</td>
                                <td>{{ p.precio }}</td>
                                <td>{{ p.clasificacion }}</td>
                                <td>
                                    <a class="btn btn-info" href="{% url 'editar_producto' p.id %}">Editar</span></a> 
                                    <a class="del_producto btn btn-danger" href="{% url 'eliminar_producto' p.id %}">Eliminar</a>
                                </td>                            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

</div>
{% endblock %}

