<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Usuarios{% endblock titulo %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    {% if user.is_authenticated %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                
                <p class="navbar-text navbar-right">Bienvenido {{ user.first_name }}, <a href="{% url 'logout' %}" class="navbar-link">Cerrar sesión</a></p>
                
            </div>
        </nav>
    {% endif %}
    <div class="container">
        {% block body %}

        {% endblock body %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% load static %}
    <script src="{% static 'funciones.js' %}"></script>
</body>
</html>